#pie_area_select {
    width: 150px
}

.selDate {
    display: inline-block;
    margin-left: 10px;
}

input {
    height: 21.5px;
    width: 240px;
    border: 1px solid #95B8E7;
    border-radius: 3px;
}

.refreshData {
    margin-left: 5px
}

.getData {
    margin-left: 30px
}

.pickmeup .pmu-instance .pmu-sunday {
    color: #CC2222;
}

.pickmeup .pmu-instance .pmu-saturday {
    color: #00ee00;
}

.pickmeup .pmu-instance .pmu-today {
    color: #0000ff;
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    font-weight: bold;
}

.pickmeup .pmu-instance .pmu-not-in-month {
    opacity: 0.3;
}

.pickmeup {
    border: 1px solid #95B8E7;
    background: #ffffff;
}

.pickmeup .pmu-instance {
    font-size: 13px;
}

.pmu-day-of-week {
    background: #F4F4F4;
    color: #4d4d4d;
    font-weight: bold;

}

.pickmeup .pmu-instance .pmu-button:hover {
    background: #ffe48d;
}

.pickmeup .pmu-instance .pmu-selected, .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    border-radius: 5px;
    opacity: unset;
}